<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
{% load static %}
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div id="header">
        <h1>MyPCS Assist</h1>
        <h5>A customixable tool to help servicemembers and their families prepare for and execute any PCS move.</h5>
        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div id="content">
        <div id="Rform-containter">
            <h4>Not a member? Register Now</h4>
            <form action="/new_user" method="POST" class="login">
                <!-- <div class="login__field"> -->
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <label for="first name">First Name</label> -->
                        <!-- <i class="login__icon fas fa-user"></i> -->
                        <input type="text"  name="firstname" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <!-- <label for="last name">Last Name</label> -->
                        <!-- <i class="login__icon fas fa-user"></i> -->
                        <input type="text" name="lastname" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <!-- <label for="email">Email</label> -->
                        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
                        <input type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <!-- <label for="password">Password</label> -->
                        <!-- <i class="login__icon fas fa-lock"></i> -->
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <!-- <label for="confirmPw">Confirm PW</label> -->
                        <!-- <i class="login__icon fas fa-lock"></i> -->
                        <input type="password" name="confirmPw" placeholder="Password">
                    </div>
                    <input type="submit" class="input-button" value="Register Now">
                <!-- </div> -->
            </form>
        </div>
        <div id="Lform-containter">
            <h4>Member Login</h4>
            <form action="/login" method="POST" class="login">
                {% csrf_token %}
                <div class="log-form-group">
                    <!-- <label for="email">Email</label> -->
                    <!-- <i cass="login__icon fas fa-user"></i> -->
                    <input type="email" name="email" placeholder="Email" class="log-input">
                </div>
                <div class="log-form-group">
                    <!-- <label for="password">Password</label> -->
                    <!-- <i class="login__icon fas fa-lock"></i> -->
                    <input type="password" name="password" placeholder="Password" class="log-input">
                </div>
                <input type="submit" class="input-button" value="Login">
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>