@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
body {
	background: linear-gradient(90deg, hsl(205deg 25% 91%), rgb(79 79 80));
	padding: 0% 4% 4% 4%;
	/* font-family: "Nunito", sans-serif;
	color: rgba(#000, 0.7);		 */
}
#header {
	max-width: 1000px;
	margin: 2% auto;
	padding: 10px, 0px;
	height: auto;
	text-align: center;
}
#content {
	/* margin-bottom: 10%; */
	padding: 0% 10%;
	height: auto;
	/* padding: 0, 10% 10%,10%; */
	display: flex;
	align-items: center;
	justify-content: center;
	/* min-height: 100vh; */
}
h1{
		font-size: 40px;
		/* transition-duration: 1s; */
		/* transition-timing-function: ease-in-put; */
		/* font-weight: 850; */
		color: #55311c;

	}
h5 {
	color: #382012;
}
h4 {
	font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: #55311c;
}

.form-group {
	display: flex;
	flex-direction: column;
	padding: 10px 10px 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 20px;
	transition: 0.3s;
	
	/* &::placeholder {
		color: #ccc;
		opacity: 1;
	} */
}
.log-form-group {
	display: flex;
	flex-direction: column;
	padding: 10px 10px 8px;
	border: 1px solid #fff;
	border-radius: 4px;
	margin-bottom: 20px;
	transition: 0.3s;
	
}

input {
    outline: 0;
    border: 0;
    /* padding: 4px 0 0; */
    font-size: 14px;
    font-family: "Nunito", sans-serif;
}
.log-input{
	outline: 0;
    border: 0;
    /* padding: 4px 0 0; */
    font-size: 14px;
    font-family: "Nunito", sans-serif;
	background-color: hsl(40deg 3% 82%);
}

/* &:focus-within {
	border-color: #8c7569;

	.input-label {
		color: rgba(#8c7569, 0.8);
	  }
	} */
  

.input-button {
	padding: 8px 12px;
	outline: none;
	border: 0;
	color: #fff;
	border-radius: 4px;
	background: #8c7569;
	font-family: "Nunito", sans-serif;
	transition: 0.3s;
	cursor: pointer;
}
#Rform-containter {
	height: 100%;
	overflow: hidden;
	margin: 2%,12%,1%,12%;
	padding: 60px 30px 20px;
	background: #fff;
	flex: 1.5;
	transform: translateY(80px);
	/* justify-content: center; */
	text-align: center;
}
#Lform-containter {
	height: 100%;
	overflow: hidden;
	margin: 12%,1%,12%,2%;
	padding: 60px 30px 20px;
	background: hsl(40deg 3% 82%);
	flex: 1.5;
	transform: translateY(80px);
	/* justify-content: center; */
	text-align: center;
	}
